@use "../../scss/components/variables.scss";
@use "../../scss/components/flexbox.scss";

.header-container {
  @include variables.gradientColor();
  @include flexbox.flexbox();
  @include flexbox.align-items(center);
  width: 100%;
  height: 60px;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 25px 0px #110118;
  z-index: 2;

  .logo {
    width: 36px;
    margin-right: 10px;
  }
  .logo-container {
    @include flexbox.flexbox();
    @include flexbox.align-items(center);
    margin-right: 30px;
    border-right: 1px solid #35547e;
    padding-right: 15px;
    height: 100%;

    p{
      font-weight: 600;
      color: variables.$white();
      letter-spacing: 1.5px;
    }
  }

  .links_container{
    display: flex;

    a{
      margin-right: 15px;
      color: variables.$white();
      text-decoration: none;
      font-weight: 600;
      letter-spacing: .5px;
    }
  }
}
